@font-face {
  font-family 'icons'
  src url(f('icons/icons.ttf?yh4btb')) format('truetype'), url(f('icons/icons.woff?yh4btb')) format('woff'), url(f('icons/icons.svg?yh4btb#icons')) format('svg')
  font-weight normal
  font-style normal
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location:before {
  content: "\e917";
}
.icon-facebook-2:before {
  content: "\e90c";
}
.icon-gmail:before {
  content: "\e916";
}
.icon-arrow-down:before {
  content: "\e900";
}
.icon-categories:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-dislike:before {
  content: "\e904";
}
.icon-exit:before {
  content: "\e905";
}
.icon-export:before {
  content: "\e906";
}
.icon-facebook:before {
  content: "\e907";
}
.icon-fag:before {
  content: "\e908";
}
.icon-favorite:before {
  content: "\e909";
}
.icon-filter-2:before {
  content: "\e90a";
}
.icon-filter:before {
  content: "\e90b";
}
.icon-home:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e90d";
}
.icon-lang:before {
  content: "\e90e";
}
.icon-like:before {
  content: "\e90f";
}
.icon-loupe:before {
  content: "\e910";
}
.icon-notifications:before {
  content: "\e911";
}
.icon-profile:before {
  content: "\e912";
}
.icon-statistics:before {
  content: "\e913";
}
.icon-three-dots:before {
  content: "\e914";
}
.icon-twitter:before {
  content: "\e915";
}
.icon-check-alt:before {
  content: "\e918";
}