h1
	margin 0 0 20px
	font-size 36px
	line-height 1.11
h2
	margin 0 0 20px
	font-size 24px
	line-height 1.16
h3
	margin 0 0 15px
	font-size 18px
	line-height 1.33
h4
	margin 0 0 15px
	font-size 16px
	line-height 1.375
h5
	margin 0 0 15px
	font-size 15px
	line-height 1.4
h6
	margin 0 0 15px
	font-size 14px
	line-height 1.5

p
	margin 0 0 15px

a
	transition .2s color ease-in-out
	&:focus
		outline none