lgWidth = 1360px
mdWidth = 1240px
smWidth = 1000px
tabletWidth = 768px

greyColor = #cccccc
darkGreyColor = #8F8F8F
textGreyColor = #898989
redColor = #fa3051

lg = "(min-width: " + lgWidth + ")"
md = "(min-width: " + mdWidth + ") and (max-width: " + (lgWidth - 1) + ")"
sm = "(min-width: " + smWidth + ") and (max-width: " + (mdWidth - 1) + ")"
desktop = "(min-width: " + smWidth + ")"
tablet_md = "(min-width: " + tabletWidth + ") and (max-width: " + (mdWidth - 1) + ")"
tablet = "(min-width: " + tabletWidth + ") and (max-width: " + (smWidth - 1) + ")"
phone = "(max-width: " + (tabletWidth - 1) + ")"

tablet_desktop = "(min-width: " + tabletWidth + ")"
phone_tablet = "(max-width: " + (smWidth - 1) + ")"
